/* tags */
body {
    background-color: black;
    color: white;
    margin: auto;
    padding: 2% 0 2% 0;
    text-align: center;
    width: 95%;
}
div {
    border: outset white;
} 
img {
    width: 100%;
}
h2 {
    border-bottom: solid white;
}

/* classes */
.fighters {
    width: 50%;
}
.fighter-titles {
    margin: auto;
    padding: 5px;
}
.ships {
    border: solid black;
    margin: auto;
    width: 25%
}
.extra-btn {
    border: solid black;
    display: none;
}

/* ids */
#title {
    border: outset white;
}
#round {
    border-bottom: solid black;
    margin-top: 10px;
}
#screen {
    display: flex;
}
#controls {
    border-bottom: solid black;
    border-top: solid black;
    height: 160px;
    margin: auto;
    width: 50%;
}
#extra-ctrl {
    border: solid black;
    display: flex;
    justify-content: space-between;
}
#retry {
    border: solid black;
    display: none;
    margin: auto;
}
#info {
    display: flex;
    height: 190px;
}
#full-bl {
    margin-top: 10px;
    padding: 0px 10px 0px 10px
}
#bl-head {
    border-bottom: dotted white;
    padding-bottom: 5px;
}
